#searchbar h1{
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

#searchInput {
  height: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.searchList {
  list-style: none;
  padding: 0;
}

.searchList li {
  padding: 3px 2px;
  margin: 3px 0px;
  cursor: pointer;
  border-radius: 3px;
}

.searchList li:hover,
.searchList li.selected {
  background-color: lightgray;
  border-left: 4px solid gray;
}
